<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
</head>

<body>    
    <h1>Your complaint has been recieved!</h1>

    <p>we've recieved your complaint. please allow us 14 bussiness days to address your complaint.
        we will update you as soon as we finish addressing your problem
    </p>

    <h1>Care2Fitness</h1>
</body>

</html>