<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changed Password</title>
</head>

<body>
    <p>your new password has been confirmed</p>

    <p>wasn't you? please submit a complaint to us and we will fix your problem ASAP</p>

    <h1>Care2Fitness</h1>

</body>

</html>